/* Mail Preview */

.mail-preview {
  display: grid;
  grid-template-columns: 12.5em 1fr 5em;
  grid-auto-flow: column;

  align-items: center;

  gap: 2rem;
  min-width: 0;

  font-size: 0.875rem;
  letter-spacing: normal;

  box-shadow: var(--shadow-mail-default-bottom);
  padding: 0.625em;

  &:first-child {
    box-shadow: var(--shadow-mail-default-top);
  }

  &:hover {
    .mail-preview__button {
      display: inline-grid;
    }
    .mail-preview__date {
      display: none;
    }
    cursor: pointer;
    box-shadow: var(--shadow-mail-hover);
  }

  &.isRead {
    .mail-preview__subject,
    .mail-preview__date,
    .mail-preview__name {
      font-weight: var(--bold);
    }
  }
}

.mail-preview__hyphen {
  padding: 0 0.3125em;
}

.mail-preview__text {
  overflow: hidden;

  font-weight: 400;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.mail-preview__body {
  color: var(--color-neutral-600);
}

.mail-preview__date {
  display: grid;
  justify-items: end;
  width: 100%;

  font-size: 0.75rem;
  padding: 0 0.5em;
}

.mail-preview__button {
  display: none;
  align-items: center;
  justify-content: center;
  justify-self: end;

  width: 1.5rem;
  height: 1.5rem;

  text-align: center;
  align-items: center;

  &:hover {
    background-color: var(--color-neutral-300);
  }

  border-radius: 50%;
  padding: 0.5em;
  color: var(--color-neutral-600);
}
