 /* mail index  */


 .mail-index {
     overflow: hidden;

     height: 100vh;
     display: grid;
     grid-template-columns: 15rem 1fr;
     grid-template-rows: auto auto 1fr;
     grid-template-areas:
         "app-header app-header"
         "compose main"
         "sidebar main"
         "sidebar main";


     .mail-folder-list {
         overflow: scroll;
         grid-area: sidebar;
         align-self: start;
     }

     .app-header {
         grid-area: app-header;
         align-self: center;
     }

     .mail-container {
         grid-area: main;
         align-self: start;
     }

     .mail-container__list {
         overflow: scroll;
         height: 100vh;
     }

     .mail-compose__button {
         grid-area: compose;
         justify-self: start;
     }


     background-color: var(--color-primary-50);
 }