/* Mail Preview */

.mail-preview {
  position: relative;

  display: grid;
  grid-template-columns: 12.5em 1fr 5em;
  grid-auto-flow: column;

  align-items: center;

  gap: 1rem;
  min-width: 0;

  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: normal;

  box-shadow: var(--shadow-mail-default-bottom);
  padding: 0.625rem;

  padding-inline-start: 5rem;

  .icon-fill-starred,
  .icon-fill-important {
    color: gold;
  }

  &:first-child {
    box-shadow: var(--shadow-mail-default-top);
  }

  &:hover {
    .mail-preview__actions__right {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: 0.5rem;
    }

    .mail-preview__date {
      display: none;
    }

    cursor: pointer;
  }

  &:not(.isRead) {

    .mail-preview__subject,
    .mail-preview__date,
    .mail-preview__name {
      font-weight: var(--bold);
    }

  }

  &.isRead {
    background-color: var(--color-primary-100);
  }
}

.mail-preview__name {
  &.isDraft {
    color: var(--red0);
  }
}

.mail-preview__hyphen {
  padding: 0 0.3125em;
}

.mail-preview__text {
  overflow: hidden;

  font-weight: 400;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.mail-preview__body {
  color: var(--color-neutral-600);
}

.mail-preview__date {
  display: grid;
  justify-items: end;
  width: 100%;

  font-size: 0.75rem;
  padding: 0 0.5em;
}

.mail-preview__actions {
  z-index: 5;
  display: flex;
  position: absolute;
  width: 100%;

  flex-direction: row;
  justify-content: space-between;

  height: 100%;
  width: 100%;

  padding: 0 0.625rem;

  &:hover {
    box-shadow: var(--shadow-mail-hover);

  }
}

.mail-preview__actions__left {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.5rem
}

.mail-preview__actions__right {
  display: none;
}

.mail-actions__button {
  display: inline-grid;
  align-items: center;
  justify-content: center;
  justify-self: end;

  font-size: 1rem;

  width: 1.5rem;
  height: 1.5rem;

  text-align: center;
  align-items: center;

  &:hover {
    background-color: var(--color-neutral-300);
  }

  border-radius: 50%;
  padding: 0.5em;
  color: var(--color-neutral-600);
}