 /* mail index  */


 .mail-index {
     overflow: hidden;

     height: 100vh;
     display: grid;
     grid-template-columns: 15rem 1fr;
     grid-template-rows: 5rem 1fr;
     grid-template-areas:
         "filter filter"
         "sidebar main"
         "sidebar main";


     .mail-folder-list {
         overflow: scroll;
         grid-area: sidebar;
         align-self: start;
     }

     .mail-filter {

         grid-area: filter;
         align-self: center;
     }

     .mail-container {
         grid-area: main;
         align-self: start;
     }

     .mail-container__list {
         overflow: scroll;
         height: 100vh;
     }

     background-color: var(--color-primary-50);
 }