 /* mail index  */
 .mail-index {
     height: 100vh;
     overflow: hidden;
     display: grid;
     grid-template-columns: 15rem 1fr;
     grid-template-rows: auto auto 1fr;
     grid-template-areas:
         "app-header app-header"
         "compose main"
         "sidebar main"
         "sidebar main";
     padding-block-start: 5em;


     .mail-folder-list {
         overflow-y: scroll;
         grid-area: sidebar;
         align-self: start;
     }

     .app-header {
         grid-area: app-header;
         align-self: center;
     }

     .mail-container {
         grid-area: main;
         align-self: start;
         overflow: hidden;
         margin-inline-end: 3em;
     }

     .mail-details {
         grid-area: main;
         overflow-y: auto;
         overflow-x: hidden;
         align-self: start;
         height: 85vh;
         padding-block-end: 3em;

         margin-inline-end: 3em;
     }

     .mail-container__list {
         overflow-y: auto;
         overflow-x: hidden;
         align-self: start;
         height: 85vh;
         padding-block-end: 3em;

     }

     .mail-compose__button {
         grid-area: compose;
         justify-self: start;
     }

     background-color: var(--color-primary-100);
 }