.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

/* Grid Helpers */

.fluid-grid {
    --min-column-width: 180px;

    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(var(--min-column-width), 1fr));
}

/* Clean List */

.clean-list {
    padding: 0;
    list-style: none;
}

/* Icon Center */

.u-icon-center {
    display: inline-grid;
    align-items: center;
    justify-content: center;
}

/* Mail Action Button*/

.mail-action-btn {
    display: inline-grid;
    align-items: center;
    justify-content: center;
    justify-self: end;

    font-size: 1.3rem;

    width: 2em;
    height: 2em;

    color: inherit;
    text-align: center;
    align-items: center;

    &:hover {
        background-color: var(--color-neutral-100);
    }

    border-radius: 50%;
}