.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

/* Grid Helpers */

.fluid-grid {
    --min-column-width: 180px;

    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(var(--min-column-width), 1fr));
}

/* Clean List */

.clean-list{
    padding: 0;
    list-style: none;
}