[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: 'Material Symbols Outlined';
  font-feature-settings: 'liga';
  font-size: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  line-height: 0;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-variation-settings: 'FILL' 0
}

[class^="icon-fill-"]::before,
[class*=" icon-fill-"]::before {
  font-variation-settings: 'FILL' 1;
}

.icon-trash::before   { content: 'delete'; }
.icon-home::before     { content: 'home'; }
.icon-search::before   { content: 'search'; }
.icon-user::before     { content: 'person'; }
.icon-check::before    { content: 'check'; }
.icon-close::before    { content: 'close'; }
.icon-settings::before { content: 'settings'; }
.icon-logout::before { content: 'logout'; }
.icon-archive::before { content: 'archive'; }
.icon-spam::before { content: 'report'; }
.icon-drafts::before { content: 'draft'; }
.icon-inbox::before { content: 'inbox'; }
.icon-sent::before { content: 'send'; }
.icon-starred::before { content: 'star'; }
.icon-important::before { content: 'label_important'; }
.icon-tune::before { content: 'tune'; }
.icon-read::before { content: 'mark_email_read'; }

/* FILLED ICONS */

.icon-fill-starred::before { content: 'star'; }
.icon-fill-important::before { content: 'label_important'; }