[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: 'Material Symbols Outlined';
  font-feature-settings: 'liga';
  font-size: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  line-height: 0;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-variation-settings: 'FILL' 0
}

[class^="icon-fill-"]::before,
[class*=" icon-fill-"]::before {
  font-variation-settings: 'FILL' 1;
}


/* Global */
.icon-apps::before   { content: 'apps'; }
.icon-refresh::before   { content: 'refresh'; }
.icon-account::before   { content: 'account_circle'; }
.icon-home::before   { content: 'home'; }


/* Mail */
.icon-trash::before   { content: 'delete'; }
.icon-home::before     { content: 'home'; }
.icon-search::before   { content: 'search'; }
.icon-user::before     { content: 'person'; }
.icon-check::before    { content: 'check'; }
.icon-close::before    { content: 'close'; }
.icon-settings::before { content: 'settings'; }
.icon-logout::before { content: 'logout'; }
.icon-archive::before { content: 'archive'; }
.icon-spam::before { content: 'report'; }
.icon-draft::before { content: 'draft'; }
.icon-inbox::before { content: 'inbox'; }
.icon-sent::before { content: 'send'; }
.icon-starred::before { content: 'star'; }
.icon-important::before { content: 'label_important'; }
.icon-tune::before { content: 'tune'; }
.icon-read::before { content: 'drafts'; }
.icon-unread::before { content: 'mark_email_unread'; }
.icon-edit::before { content: 'edit'; }
.icon-close::before { content: 'close'; }
.icon-minimize::before { content: 'minimize'; }
.icon-maximize::before { content: 'open_in_full'; }
.icon-back::before { content: 'arrow_back'; }
.icon-right-arrow::before { content: 'keyboard_arrow_right'; }
.icon-left-arrow::before { content: 'keyboard_arrow_left'; }
.icon-reply::before { content: 'reply'; }
.icon-forward::before { content: 'forward'; }
.icon-note::before { content: 'note_stack_add'; }

/* Notes */
.icon-palette::before { content: 'palette'; }
.icon-content_copy::before { content: 'content_copy'; }
.icon-edit_square::before { content: 'edit_square'; }
.icon-keep::before { content: 'keep'; }
.icon-keep_off::before { content: 'keep_off'; }
.icon-text::before { content: 'text'; }
.icon-image::before { content: 'image'; }
.icon-video::before { content: 'video'; }
.icon-list::before { content: 'list'; }
.icon-delete::before   { content: 'delete'; }

/* FILLED ICONS */

.icon-fill-trash::before   { content: 'delete'; }
.icon-fill-home::before     { content: 'home'; }
.icon-fill-search::before   { content: 'search'; }
.icon-fill-user::before     { content: 'person'; }
.icon-fill-check::before    { content: 'check'; }
.icon-fill-close::before    { content: 'close'; }
.icon-fill-settings::before { content: 'settings'; }
.icon-fill-logout::before { content: 'logout'; }
.icon-fill-archive::before { content: 'archive'; }
.icon-fill-spam::before { content: 'report'; }
.icon-fill-draft::before { content: 'draft'; }
.icon-fill-inbox::before { content: 'inbox'; }
.icon-fill-sent::before { content: 'send'; }
.icon-fill-starred::before { content: 'star'; }
.icon-fill-important::before { content: 'label_important'; }
.icon-fill-tune::before { content: 'tune'; }
.icon-fill-read::before { content: 'drafts'; }
.icon-fill-unread::before { content: 'mark_email_unread'; }
