*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* color-scheme: light dark; */
}

body {
}

main {
  margin-block-start: 1rem;
  margin-block-end: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    interpolate-size: allow-keywords;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
}

p {
  /*max-width: 65ch;*/
  margin: 0 0;
  text-wrap: pretty;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a[class] {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  max-width: 100%;
  font: inherit;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  box-shadow: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}
