 /* note index */

 .container {
     overflow: scroll;
     overflow-x: hidden;

     height: 100vh;

     text-align: center;
     background-color: var(--color-primary-50);

     padding-block-end: 5rem;

     >.empty-notes {
         >img {
             width: 250px;
         }

         >p {
             font-size: 1.8em;
         }
     }
 }

 .empty-notes {
     >img {
         display: inline-block;
     }
 }