 /* note list */

.notes-list {
    column-count: 4;
    column-width: 250px;
    column-gap: 16px;

    >li {
        break-inside: avoid;
        margin-bottom: 16px;

        border: 1px solid grey;
        border-radius: 8px;

        padding-bottom: 10px;

        &:hover {
            >.actions {
                opacity: 1;
            }
        }
    }
}

.actions {
    display: flex;
    justify-content: space-evenly;

    opacity: 0;
    transition: 400ms;

    >div {
        font-size: 1.5rem;
        cursor: pointer;

        opacity: 0.5;
        transition: 200ms;

        &:hover {
            opacity: 1;

            scale: 1.1;
        }
    }
}