.note-preview {
    overflow-wrap: break-word;
    word-break: break-word;

    margin-bottom: 25px;

    >.note-text {
        white-space: pre-wrap;

        text-align: left;
    }

    >img{
        width: 500px;
    }
}

.video-player{
    width: 100%;
}

.done{
    color: grey;
    text-decoration: line-through;
}